/* CSS Project Start */

h2 {
    color: white;
    font-size: 42px;
}

html {
    font-size: calc(lem + lvw);
}

li {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: right;
}


/* .content {
    padding-left: 30px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 5px;
} */

.h5 {
    margin-right: auto;
    margin-left: 25px;
    padding: auto;
}

#search-container {
    background-image: url(assets/images/food-header.jpeg);
    margin: auto;
}

.page-footer {
    background-color: whitesmoke !important;
}

.footer-copyright {
    background-color: turquoise !important;
}

.logo {
    float: left;
}

.content {
    border: none !important;
    width: auto !important;
    height: auto;
    max-width: 100%;
    max-height: 28px !important;
    cursor: pointer;
}

.image-container {
    display: center !important;
    margin-left: auto;
    margin-right: auto;
}

.col {
    text-align: center;
}